// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
table.signup {
.btn { width:100%; }
th.user{width:12em;}
th.nation{width:6em;}
th.password{width:12em;}
th.status{width:6em;}
th.claim{width:3em;} }
